<style>
	.panel-rad {
		border: 1px solid dodgerblue;
		border-radius: 6px;
		padding-bottom: 6px !important;
		padding-top: 6px !important;
		margin-bottom: 10px;
		padding-left: 10px;
	}

	.panel-padding {
		padding: 13px 0 0px 0px;
	}

	.groupHeader {
		font-weight: bold;
	}

	.groupValue {
		padding: 2px 30px;
	}
</style>

<div class="col-md-10 global_container ng-scope">
	<div class="row ng-scope" xmlns="http://www.w3.org/1999/html">
		<form role="form" name="searchMesForm">
			<div class="panel panel-default tabcontent">
				<div class="panel-heading">
					<b>Fournisseur</b>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						<div class="panel panel-info panel-padding">
							<flash-messages id="global-FM"></flash-messages>
							<div class="row">
								<!-- Contrat -->
								<div class="col-md-4">
									<label>Contrat</label>
									<div class="form-group">
										<select ui-select2 ng-model="fourniCriDto.idtsContrat" style="width: 100%;"
											multiple>
											<option ng-repeat="contrat in listContrat" value="{{contrat.idt}}">
												{{contrat.label}}
											</option>
										</select>
									</div>
								</div>
								<!-- Projet -->
								<div class="col-md-4">
									<label>Projet</label>
									<div class="form-group">
										<select ui-select2 ng-model="fourniCriDto.idtsProjet" style="width: 100%;"
											multiple>
											<option ng-repeat="projet in listProjects" value="{{projet.idt}}">
												{{projet.label}}
											</option>
										</select>
									</div>
								</div>
								<!-- Numero operation -->
								<div class="col-md-4">
									<label>Num&eacute;ro d'op&eacute;ration </label>
									<div class="form-group">
										<select ui-select2 ng-model="fourniCriDto.numOperation" style="width: 100%;"
											multiple>
											<option ng-repeat="no in numOperations" value="{{no.numOperation}}">
												{{no.numOperation}}
											</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<!-- DR -->
								<div class="col-md-4">
									<label>DR</label>
									<div class="form-group">
										<select ui-select2 ng-model="fourniCriDto.idtsDr" style="width: 100%;" multiple
											ng-change="changeDR(fourniCriDto.idtsDr)">
											<option ng-repeat="d in listDr" value="{{d.idt}}">{{d.label}}
											</option>
										</select>
									</div>
								</div>
								<!-- Site -->
								<div class="col-md-4">
									<label>Site </label>
									<div class="form-group">
										<select ui-select2 ng-model="fourniCriDto.idtsSite" style="width: 100%;" multiple>
											<option ng-repeat="s in listSite" value="{{s.idt}}">
												{{s.label}}
											</option>
										</select>
									</div>
								</div>
								<!-- Etat -->
								<div class="col-md-4">
									<label>Etat </label>
									<div class="form-group">
										<select ui-select2 ng-model="fourniCriDto.idtsEtat" style="width: 100%;" multiple>
											<option ng-repeat="etat in listEtats" value="{{etat.idt}}">
												{{etat.label}}
											</option>
										</select>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div style="text-align: right;">
								<button class="action_btn btn-success" ng-click="search()">
									Rechercher</button>
								<button class="action_btn btn-primary " ng-click="reset()">
									Vider</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<hr>
	<div class="panel panel-default tabcontent">
		<div class="panel-heading" style="overflow: hidden;">
			<b>Avis Fournisseur</b>
		</div>
		<flash-messages id="result-FM"></flash-messages>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="panel panel-info table-responsive">
					<table id="resultTable" class="table table-fixed table-hover">
						<thead>
							<tr>
								<th>Contrat</th>
								<th>DR</th>
								<th>Site</th>
								<th>Projet</th>
								<th>N&ordm; Op&eacute;ration</th>
								<th>Date Cr&eacute;ation</th>
								<th>Optim</th>
								<th>Exploi</th>
								<th>QoS</th>
								<th>DCC</th>
								<th>Ecarts (DCC)</th>
								<th>Etat R&eacute;ception</th>
								<th>Pi&egrave;ces Jointes</th>
								<th class="th-action">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr class="repeated-item" ng-repeat="deploiDto in listMES">
								<td class="word-wrap">{{deploiDto.contrat}}</td>
								<td class="word-wrap">{{deploiDto.dr}}</td>
								<td class="word-wrap">{{deploiDto.site}}</td>
								<td class="word-wrap">{{deploiDto.projet}}</td>
								<td class="word-wrap">{{deploiDto.numOperation}}</td>
								<td class="word-wrap">{{deploiDto.date}}</td>
								<!-- Avis Optim -->
								<td style="min-width: 70px; vertical-align: middle;">
									<div class="row" ng-if="deploiDto.typeProjetIdt == 1">
										<div class="col-xs-6 dropdown" style="padding: 0; margin-right: -7px;">
											<button type="button" class="dropdown-toggle btn btnMenu btn-circle"
												data-toggle="dropdown" style="display: inline;">
												<i class="glyphicon glyphicon-option-vertical"></i></button>
											<ul class="dropdown-menu">
												<li><a ng-hide="deploiDto.idtEtat != 1" class="clickable"
														ng-click="openPopupToAddPj(deploiDto.idt,3)">Joindre des
														pi&egrave;ces</a></li>
												<li><a ng-hide="deploiDto.idtEtat != 1" class="clickable"
														ng-click="requalifOperation(deploiDto.idt,3)">(Re) qualifier</a>
												</li>
												<li><a class="clickable"
														ng-click="openPopupConsultOpt(deploiDto.pjQualifOptim, deploiDto.commentaireOptim)">Consulter</a>
												</li>
											</ul>
										</div>
										<div class="col-xs-6" style="padding: 0;">
											<span type="button" class="btn btnStat btn-circle"
												ng-attr-title="{{deploiDto.qualifOptim}}"
												ng-class="{statGreen: deploiDto.qualifOptim==OK, statRed: deploiDto.qualifOptim==NOK, statGray: deploiDto.qualifOptim==PENDING}"></span>
										</div>
									</div>
								</td>
								<!-- Avis Exploitation -->
								<td style="min-width: 70px; vertical-align: middle;">
									<div class="row" ng-if="deploiDto.typeProjetIdt == 1">
										<div class="col-xs-6 dropdown" style="padding: 0; margin-right: -7px;">
											<button type="button" class="dropdown-toggle btn btnMenu btn-circle"
												data-toggle="dropdown" style="display: inline;">
												<i class="glyphicon glyphicon-option-vertical"></i></button>
											<ul class="dropdown-menu">
												<li><a ng-hide="deploiDto.idtEtat != 1" class="clickable"
														ng-click="openPopupToAddPj(deploiDto.idt,2)">Joindre des
														pi&egrave;ces</a></li>
												<li><a ng-hide="deploiDto.idtEtat != 1" class="clickable"
														ng-click="requalifOperation(deploiDto.idt,2)">(Re) qualifier</a>
												</li>
												<li><a class="clickable"
														ng-click="openPopupConsultExp(deploiDto.pjQualifExp, deploiDto.commentaireExp)">Consulter</a>
												</li>
											</ul>
										</div>
										<div class="col-xs-6" style="padding: 0;">
											<span type="button" class="btn btnStat btn-circle"
												ng-attr-title="{{deploiDto.qualifExploi}}"
												ng-class="{statGreen: deploiDto.qualifExploi==OK, statRed: deploiDto.qualifExploi==NOK, statGray: deploiDto.qualifExploi==PENDING}"></span>
										</div>
									</div>
								</td>
								<!-- Avis QoS -->
								<td style="min-width: 70px; vertical-align: middle;">
									<div class="row" ng-if="deploiDto.typeProjetIdt == 1">
										<div class="col-xs-6 dropdown" style="padding: 0; margin-right: -7px;">
											<button type="button" class="dropdown-toggle btn btnMenu btn-circle"
												data-toggle="dropdown" style="display: inline;">
												<i class="glyphicon glyphicon-option-vertical"></i></button>
											<ul class="dropdown-menu">
												<li><a class="clickable"
														ng-click="openPopupToAddPj(deploiDto.idt,6)">Joindre des
														pi&egrave;ces</a></li>
												<li><a class="clickable"
														ng-click="requalifOperation(deploiDto.idt,6)">(Re) qualifier</a>
												</li>
												<li><a class="clickable"
														ng-click="openPopupConsultQos(deploiDto.pjQualifQos, deploiDto.commentaireQos)">Consulter</a>
												</li>
											</ul>
										</div>
										<div class="col-xs-6" style="padding: 0;">
											<span type="button" class="btn btnStat btn-circle"
												ng-attr-title="{{deploiDto.qualifQos}}"
												ng-class="{statGreen: deploiDto.qualifQos==OK, statRed: deploiDto.qualifQos==NOK, statGray: deploiDto.qualifQos==PENDING}"></span>
										</div>
									</div>
								</td>
								<!-- Examine Dcc Radio et Dcc Env -->
								<td style="min-width: 70px; vertical-align: middle;">
									<div class="row">
										<div class="col-xs-6 dropdown" style="padding: 0; margin-right: -7px;">
											<button type="button" class="dropdown-toggle btn btnMenu btn-circle"
												data-toggle="dropdown" style="display: inline;">
												<i class="glyphicon glyphicon-option-vertical"></i></button>
											<ul class="dropdown-menu">
												<li>
													<!-- DCC RADIO -->
													<a ng-hide="true" class="clickable" ng-click="openPopupToAddPj(deploiDto.idt,4)"
														ng-if="deploiDto.typeProjetIdt == 1">Joindre
														des
														pi&egrave;ces</a>
													<a  ng-hide="true" class="clickable" ng-click="requalifOperation(deploiDto.idt,4)"
														ng-if="deploiDto.typeProjetIdt == 1">(Re)
														qualifier</a>
													<a class="clickable"
														ng-click="openPopupConsultDcc(deploiDto.pjQualifDcc, deploiDto.commentaireDcc)"
														ng-if="deploiDto.typeProjetIdt == 1">Consulter</a>
													<!-- DCC ENV -->
													<a ng-hide="true"  class="clickable" ng-click="openPopupToAddPj(deploiDto.idt,5)"
														ng-if="deploiDto.typeProjetIdt == 2">Joindre
														des
														pi&egrave;ces</a>
													<a ng-hide="true"  class="clickable" ng-click="requalifOperation(deploiDto.idt,5)"
														ng-if="deploiDto.typeProjetIdt == 2">(Re)
														qualifier</a>
													<a class="clickable"
														ng-click="openPopupConsultDcc(deploiDto.pjQualifDcc, deploiDto.commentaireDcc)"
														ng-if="deploiDto.typeProjetIdt == 2">Consulter</a>
												</li>
											</ul>
										</div>
										<div class="col-xs-6" style="padding: 0;">
											<span type="button" class="btn btnStat btn-circle"
												ng-attr-title="{{deploiDto.qualifDcc}}"
												ng-class="{statGreen: deploiDto.qualifDcc==DCC, statGray: deploiDto.qualifDcc==PENDING}"></span>
										</div>
									</div>
								</td>
								<td class="text-nowrap">
									<div ng-hide="deploiDto.reserves.length">R.A.S</div>
									<span ng-repeat="r in deploiDto.reserves | groupBy:'responsabilite'">
										<div class="groupHeader" ng-show="r.group_by_key"><span
												class='caret caret-right'> </span> {{r.responsabilite}}</div>
										<div class="groupValue">- {{r.label}}</div>
									</span>
								</td>
								
								<td class="word-wrap">{{deploiDto.etat}}</td>
								<td class="word-wrap" style="vertical-align: middle;">
									<span
										ng-click="openPopUpPJ(deploiDto.pjExploitation, deploiDto.pjOptim, deploiDto.pjDcc, deploiDto.pjDccEnv, deploiDto.typeProjetIdt, deploiDto.pjQos)"
										style="cursor: pointer; color: blue; font-size: 17px; margin-left: 12px;">
										<i class="glyphicon glyphicon-paperclip"></i>
									</span>
								</td>
								<td style="vertical-align: middle;">
									<button ng-if="deploiDto.typeProjetIdt == 1" ng-click="openPopUpAddPjs(deploiDto)"
										a-tooltiptext="'Joindre des Pi&eacute;ces'" class="btn btn-xs btn-info">
										<i class="glyphicon glyphicon-pencil"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="container" style="text-align: center;">
					<nav aria-label="Page navigation">
						<ul class="pagination" id="pagination"></ul>
					</nav>
				</div>

				<p class="text-center" style="color: steelblue;">
					<label>Total: {{totalRecords}} R&eacute;sultat(s)</label>
				</p>

			</div>

		</div>
	</div>
</div>

<!-- POPUP TELECHARGER DES PIECES JOINTES -->
<div class="modal fade movePopUp" id="openPopUpPJ">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Les Pi&egrave;ces Jointes</h4>
			</div>
			<div class="modal-body">
				<div class="row panel-rad" ng-if="idtTypeProjet == 1 && listPjExpl.length > 0">
					<label>EXPLOITATION</label>
					<div ng-repeat="pjOper in listPjExpl track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
							style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
							<i class="glyphicon glyphicon-download"></i>{{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad" ng-if="idtTypeProjet == 1 && listPjOptim.length > 0">
					<label>OPTIM</label>
					<div ng-repeat="pjOper in listPjOptim track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
							style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
							<i class="glyphicon glyphicon-download"></i>{{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad" ng-if="idtTypeProjet == 1 && listPjQos.length > 0">
					<label>QOS</label>
					<div ng-repeat="pjOper in listPjQos track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
							style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
							<i class="glyphicon glyphicon-download"></i>{{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad" ng-if="idtTypeProjet == 1 && listPjDcc.length > 0">
					<label>DCC RADIO</label>
					<div ng-repeat="pjOper in listPjDcc track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
							style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
							<i class="glyphicon glyphicon-download"></i>{{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad" ng-if="idtTypeProjet == 2 && listPjDccEnv.length > 0">
					<label>DCC ENV</label>
					<div ng-repeat="pjOper in listPjDccEnv track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
							style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
							<i class="glyphicon glyphicon-download"></i>{{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning pull-right" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i> Fermer
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- POPUP AJOUTER DES PIECES JOINTES -->
<div class="modal fade movePopUp" id="popupAddPj">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{selectedEntite}}</h4>
			</div>
			<div class="modal-body">
				<flash-messages id="popup-FM"></flash-messages>
				<div class="row">
					<div class="row form-group">
						<label>Ajouter des pi&egrave;ces jointes </label>
						<button type="button" ng-click="appendHtmlInputFile()" class="btn btn-xs btn-info pull-right">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
					</div>
					<div class="row" id="pjInputList">
					</div>
				</div>
			</div>
			<div class="modal-footer">

				<button type="button" class="action_btn btn-primary" ng-click="addPjToMesRefuse()">
					<i class="glyphicon glyphicon-floppy-disk"></i> Valider
				</button>
				<button type="button" class="action_btn btn-warning" data-dismiss="modal">
					<i class="glyphicon glyphicon-remove"></i> Annuler
				</button>
			</div>
		</div>
	</div>
</div>
<!-- POPUP CONSULTER COMMENTAIRE ET PIECE JOINTE ENTITE-->
<div class="modal fade movePopUp" id="openPopUpConsult">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Consultation du commentaire et de(s) pi&egrave;ce(s) jointe(s)</h4>
			</div>
			<div class="modal-body">
				<div class="row panel-rad">
					<label>Commentaire</label>
					<div style="margin-left: 30px;">
						{{commentaire}}
					</div>
				</div>
				<div class="row panel-rad">
					<label>Pi&egrave;ce(s) jointe(s)</label>
					<div ng-repeat="pjQualif in listPjQualif track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
							style="margin-bottom: 4px;" ng-click="downloadFile(pjQualif.fileName)">
							<i class="glyphicon glyphicon-download"></i>{{pjQualif.originFileName}}
						</button>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-warning pull-right" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i> Fermer
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- POPUP AJOUT PIECE JOINTE ENTITEES-->
<div class="modal fade movePopUp" id="popUpAddPjs">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Pi&egrave;ces Jointes</h4>
			</div>
			<div class="modal-body">
				<div ng-if="idtTypeProjet == 1">
					<div class="row panel-pjOpt" id="pjQosForm">
						<div class="row form-group">
							<label>QoS</label>
							<button type="button" ng-click="plusPjQos()" class="btn btn-xs btn-info pull-right">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
						<div class="row form-group" id="pjsExisteQos">
							<!-- existes pjs  Opt vont etre ajoutés ici -->
						</div>
						<div class="row bloc_line">
							<div class="form-group col-md-9 col-sm-9 col-xs-9">
								<input type="file" class="form-control inputFileQos" />
							</div>
							<div class="col-md-1 col-sm-1 col-xs-1">
								<i class="glyphicon glyphicon-remove-sign icon-clearQos-0" title="Supprimer le fichier"
									style="margin-top: 8px; color: red; cursor: pointer; margin-left: -22px;"
									ng-click="cleanFileQos(0)"></i>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2"></div>
						</div>
						<!-- Where to append new  input-->
						<p ng-show="error_pjQos" style="font-size: 12px; color: red;" class="help-block">
							PJ QoS Obligatoire.
						</p>
					</div>
					<div class="row panel-pjExp" id="pjExpForm">
						<div class="row form-group">
							<label>Exploitation</label>
							<button type="button" ng-click="plusPjExp()" class="btn btn-xs btn-info pull-right">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
						<div class="row form-group" id="pjsExisteExp">
							<!-- existes pjs  exp vont etre ajoutés ici -->
						</div>
						<div class="row bloc_line">
							<div class="form-group col-md-9 col-sm-9 col-xs-9">

								<input type="file" class="form-control inputFileExp" />
							</div>
							<div class="col-md-1 col-sm-1 col-xs-1">
								<i class="glyphicon glyphicon-remove-sign icon-clearExp-0" title="Supprimer le fichier"
									style="margin-top: 8px; color: red; cursor: pointer; margin-left: -22px;"
									ng-click="cleanFileExp(0)"></i>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2">

							</div>
						</div>
						<!-- Where to append new  input-->
						<p ng-show="error_pjExp" style="font-size: 12px; color: red;" class="help-block">PJ
							Exploitation Obligatoire.</p>
					</div>

					<div class="row panel-pjOpt" id="pjOptForm">
						<div class="row form-group">
							<label>Optim</label>
							<button type="button" ng-click="plusPjOpt()" class="btn btn-xs btn-info pull-right">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
						<div class="row form-group" id="pjsExisteOpt">
							<!-- existes pjs  Opt vont etre ajoutés ici -->
						</div>
						<div class="row bloc_line">
							<div class="form-group col-md-9 col-sm-9 col-xs-9">
								<input type="file" class="form-control inputFileOpt" />
							</div>
							<div class="col-md-1 col-sm-1 col-xs-1">
								<i class="glyphicon glyphicon-remove-sign icon-clearOpt-0" title="Supprimer le fichier"
									style="margin-top: 8px; color: red; cursor: pointer; margin-left: -22px;"
									ng-click="cleanFileOpt(0)"></i>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2"></div>
						</div>
						<!-- Where to append new  input-->
						<p ng-show="error_pjOpt" style="font-size: 12px; color: red;" class="help-block">PJ
							Optim Obligatoire.</p>
					</div>
					<div ng-hide="true">
						<div class="row panel-pjOpt" id="pjDccForm">
							<div class="row form-group">
								<label>DCC RADIO</label>
								<button type="button" ng-click="plusPjDcc()" class="btn btn-xs btn-info pull-right">
									<i class="glyphicon glyphicon-plus"></i>
								</button>
							</div>
							<div class="row form-group" id="pjsExisteDcc">
								<!-- existes pjs  dcc vont etre ajoutés ici -->
							</div>
							<div class="row bloc_line">
								<div class="form-group col-md-9 col-sm-9 col-xs-9">
									<input type="file" class="form-control inputFileDcc" />
								</div>
								<div class="col-md-1 col-sm-1 col-xs-1">
									<i class="glyphicon glyphicon-remove-sign icon-clearDcc-0" title="Supprimer le fichier"
										style="margin-top: 8px; color: red; cursor: pointer; margin-left: -22px;"
										ng-click="cleanFileDcc(0)"></i>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
							</div>
							<!-- Where to append new  input-->
							<p ng-show="error_pjDcc" style="font-size: 12px; color: red;" class="help-block">PJ
								DCC Radio Obligatoire.</p>
						</div>
					</div>

				</div>
				<div ng-hide="true">
					<div ng-if="idtTypeProjet == 2">
						<div class="row panel-pjOpt" id="pjDccEnvForm">
							<div class="row form-group">
								<label>DCC ENV</label>
								<button type="button" ng-click="plusPjDccEnv()" class="btn btn-xs btn-info pull-right">
									<i class="glyphicon glyphicon-plus"></i>
								</button>
							</div>
							<div class="row form-group" id="pjsExisteDccEnv">
								<!-- existes pjs  DccEnv vont etre ajoutés ici -->
							</div>
							<div class="row bloc_line">
								<div class="form-group col-md-9 col-sm-9 col-xs-9">
									<input type="file" class="form-control inputFileDccEnv" />
								</div>
								<div class="col-md-1 col-sm-1 col-xs-1">
									<i class="glyphicon glyphicon-remove-sign icon-clearDccEnv-0"
										title="Supprimer le fichier"
										style="margin-top: 8px; color: red; cursor: pointer; margin-left: -22px;"
										ng-click="cleanFileDccEnv(0)"></i>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
							</div>
							<!-- Where to append new  input-->
							<p ng-show="error_pjDccEnv" style="font-size: 12px; color: red;" class="help-block">
								PJ DCC Environement Obligatoire.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="action_btn btn-primary" ng-click="updateOperation(operationEditDto)">
					<i class="glyphicon glyphicon-floppy-disk"></i> Enregistrer
				</button>
				<button type="button" class="action_btn btn-warning" data-dismiss="modal">
					<i class="glyphicon glyphicon-remove"></i> Annuler
				</button>
			</div>
		</div>
	</div>
</div>
<div confirmation-modal></div>
<div class="loading-spinner"></div>