

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops !!!</h1>
                <h2>
                    404 Introuvable...</h2>
                <div class="error-details">
                    D&eacute;sol&eacute;, une erreur est survenue. La page demand&eacute;e est introuvable !
                </div>
            </div>
        </div>
    </div>
</div>