<div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation n&eacute;cessaire</h4>
            </div>
            <div class="modal-body" ng-repeat="msg in modalMessage track by $index" style="padding-top: 8px !important; padding-bottom: 0 !important;">
                {{msg}}
            </div>
            <div class="modal-footer">
            	<button ng-click="confirmCallback()" class="btn btn-primary">Oui</button>
                <button ng-click="closeCallback()" class="btn btn-warning" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>