<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />  
		<meta http-equiv="Pragma" content="no-cache" />  
		<meta http-equiv="Expires" content="0" />  
		
		<title>MT SDR</title>
		
		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<link href="lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
		<link href="lib/select2/select2.css" rel="stylesheet" />
		<link href="lib/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
			rel="stylesheet" media="screen" />
		<link href="lib/allmighty-autocomplete/style/autocomplete.css" rel="stylesheet">
		<link href="css/jquery-ui.css" rel="stylesheet"> <!-- add css/images folder -->
		<link href="css/loadingSpinner.css" rel="stylesheet" />
		<link href="css/responsibe-table.css" rel="stylesheet" />
		<link href="css/navbar.css" rel="stylesheet" />
		<link href="css/atooltip.css" rel="stylesheet" />
		<link href="css/robotto.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/main.css" rel="stylesheet" />
		

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
          <script src="js/ie/ie8.js"></script>
          <script src="lib/excanvas/excanvas.js" ></script>
          <script src="js/ie/html5shiv.js"></script>
          <script src="js/ie/respond.min.js"></script>
        <![endif]-->
	</head>

	<body ng-controller="indexController">
		<nav class="navbar navbar-default navbar-static-top main_menu"
			role="navigation" style="margin-bottom: 0px !important;">
			<div class="row">
				<div class="col-md-2">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#topmennu-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand logo_area" href=""> <img
							src="img/logo.png" alt="IAM">
						</a>
					</div>
				</div>
				<div class="collapse navbar-collapse" id="topmennu-collapse">
					<div class="col-md-3 pull-right no-right_gutter options_area">
						<div class="col-md-9 profile_area">
							<a href="" data-toggle="dropdown" aria-expanded="false"> 
								<span class="ng-binding"> 
									<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Bonjour, {{currentLogin}}
								</span>
							</a>
						</div>
						<div class="col-md-3 logout_area pull-right no-right_gutter">
							<a ng-click="logout()" class="" style="cursor: pointer;"></a>
						</div>
					</div>
				</div>
			</div>
		</nav>
	
		<div class="contenu">
			<aside class="left_menu">
				<ul id="nav-menu">
					<li ng-show="isGranted(['ROLE_FOURNISSEUR'])" id="menu-FOURNI">
						<a href="./#/fournisseur"> <span> <img
									src="img/nav/fourni.png" alt="Fournisseur">FOURNISSEUR
							</span>
					</a></li>
					<li ng-show="isGranted(['ROLE_FOURNISSEUR'])"
						id="menu-CONSULTATION"><a href="./#/consultation"> <span>
								<img src="img/nav/consultation.png" alt="Consultation">CONSULTATION
							</span>
						</a></li>
					<li ng-show="isGranted(['ROLE_FOURNISSEUR'])"
						id="menu-REMISE-CONTROLE"><a href="./#/remise-controle"> <span>
								<img src="img/nav/doc.png" alt="Consultation">REMISE CONTR&Ocirc;LE
							</span>
						</a></li>
				</ul>
			</aside>
			<div id="contenu" ng-view></div>
	
		</div>	
	
		<!-- Bootstrap core JavaScript
			================================================== 
		-->
		<!-- Librairies Javascript -->
	
		<!-- Librairies javascripts générales-->
		<script src="lib/underscore/underscore-min.js"></script>
		<script src="lib/jquery/dist/jquery.min.js"></script>
		<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="lib/select2/select2.min.js"></script>
		<script src="lib/select2/select2_locale_fr.js"></script>
	
		<script type="text/javascript"
			src="lib/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
			charset="UTF-8"></script>
		<script type="text/javascript"
			src="lib/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js"
			charset="UTF-8"></script>
		<script src="lib/jquery.atooltip.min.js"></script>
		<script src="js/ie/jquery.form.min.js"></script>
		<script src="lib/jquery-ui/jquery-ui.min.js"></script>
	
		<!-- Librairies angularJS -->
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-cookies/angular-cookies.min.js"></script>
		<script src="lib/angular-route/angular-route.min.js"></script>
		<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="lib/angular-ui-select2/src/select2.js"></script>
		<script src="lib/angular-ui-sortable/sortable.js"></script>
		<script src="lib/allmighty-autocomplete/script/autocomplete.js"></script>
		<script src="lib/allmighty-autocomplete/script/app.js"></script>
	
	
		<!-- Code de l'application -->
	
		<!-- Déclaration du code commun -->
		<script src="js/app.js"></script>
		<script src="js/app.config.js"></script>
		<script src="js/common/interceptors/interceptor.js"></script>
		<script src="js/common/services/loadingSpinner.js"></script>
		<script src="js/common/services/flashMessage.js"></script>
		<script src="js/common/services/bootstrapModal.js"></script>
		<script src="js/common/services/ajaxModule.js"></script>
		<script src="js/common/directives/datetimePicker.js"></script>
		<script src="js/common/directives/datepicker-fr.js"></script>
		<script src="js/common/directives/tooltip/aTooltip.js"></script>
		<script src="js/common/directives/isNumber.js"></script>
		<script src="js/common/directives/redStar.js"></script>
		<script src="js/common/directives/confirmationModal/confirmationModal.js"></script>
		<script src="js/common/services/FileSaver.js"></script>
		<script src="js/common/directives/checklist-model.js"></script>
		<script src="js/common/directives/angularSlideables.js"></script>
		<script src="js/common/services/upload.js"></script>
		<!-- Pagination : http://josecebe.github.io/twbs-pagination/ -->
		<script src="js/lib/jquery.twbsPagination.min.js"></script>
		<script src="js/common/directives/datepicker-fr.js"></script>
	
	
		<!-- Modules -->
		<script src="js/modules/index/indexController.js"></script>
		<script src="js/modules/user/services/UserService.js"></script>
		<script src="js/modules/error404/controllers/error404Controller.js"></script>
		<script src="js/modules/fournisseur/controllers/fournisseurController.js"></script>
		<script src="js/modules/fournisseur/services/fournisseurService.js"></script>

		<script src="js/modules/consultation/controllers/consultationController.js"></script>
		<script src="js/modules/consultation/services/consultationService.js"></script>
		
		<script src="js/modules/remiseControle/controllers/remiseListController.js"></script>
		<script src="js/modules/remiseControle/services/remiseListService.js"></script>
		<script src="js/modules/remiseControle/controllers/remiseControleController.js"></script>
		<script src="js/modules/remiseControle/services/remiseControleService.js"></script>
		<script src="js/modules/remiseControle/controllers/remiseModifController.js"></script>
		<script src="js/modules/remiseControle/services/remiseModifService.js"></script>
	</body>
</html>
