/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
p,ul,li{
    margin: 0;
    padding: 0;
}
.align_center{
    text-align: center;
}



/*----------------------------------------*/

/*initial styles*/
html
,body{
    height: 100%;
}
body.loginpage{
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}
body {
    font-size: 14px;
    line-height: 22px;
    color: #3c3d42;
    -webkit-font-smoothing: antialiased;
    background: url('../img/global_bg.png') no-repeat right top fixed #02538c;
    -webkit-background-size: 88% 100%;
    -moz-background-size: 88% 100%;
    -o-background-size: 88% 100%;
    background-size: 88% 100%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body *{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
::-webkit-input-placeholder {
   color: #414243 !important;
   opacity: 0.5 !important;
   text-transform: uppercase !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #414243 !important;
   opacity: 0.5 !important;
   text-transform: uppercase !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #414243 !important;
   opacity: 0.5 !important;
   text-transform: uppercase !important;  
}

:-ms-input-placeholder {  
   color: #414243 !important; 
   opacity: 0.5 !important; 
   text-transform: uppercase !important;
}

.navbar{
	overflow: hidden;	
}

h1{
    color: #414243;
    font-family: "robotocondensed_Bold";
    font-size: 26px;
    line-height: 38px;
    text-transform: uppercase;
}
h2{
    color: #0066ad;
    font-family: "robotoRegular";
    font-size: 20px;
    text-transform: uppercase;
    line-height: 18px;
    margin:0;
    margin-bottom: 18px;
}
.panel-heading{
	padding-top:0;
}
.tab-content .panel .panel-body{
	border:none;
}

.sexagesimal, .sexagesimalsec {
    display:inline-block;
    padding:6px;
}

.sexagesimal {
    width: 40px;
}

.sexagesimalsec {
    width: 70px;
}

h2 span{
    color: #767676;
    font-size: 18px;
    text-transform: none;
    font-weight: 300;
}
ul,li{
    list-style: none;
}
.container{
    height: 100%;
}
.content_container{
    height: 100%;
    position: relative;
    padding-left: 120px;
}

/* Login page */

.login_page{
    margin-top: -255px;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 10px;
}
.login-container{
    width: 100%;
    max-width: 455px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ddd;
}
.login-container h1{
    color: #fff;
    font-size: 20px;
}
.login-container h1 span{
    color: #fff;
    font-family: "robotocondensed_Light";
    font-size: 18px;
    text-transform: none;
    font-weight: 300;
}

.login-container .logo_head{
    padding-top: 32px;
    padding-bottom: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.login-container h1{
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.title_area{
    background-color: #55606c;
    border-bottom: 1px solid #ddd;
    padding: 15px 8px 15px 8px;
    text-align: center;
}
.inputfilter{
    width: 100%;
}
input.control,textarea.control{
    border: 1px solid #cecece;
    border-radius: 0;
    height: 41px;
    color: #414243;
    font-size: 14px;
    padding-left: 18px;
    font-family: "robotocondensed_Regular";
    margin-bottom: 0;
    display: block;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.login_form{
    padding: 33px 33px 17px 34px;
}
.field_contaner{
    margin-bottom:22px;
}
.login_form .field_contaner:last-child{
    margin-bottom:30px;
}
.login_form form{
    margin-bottom:0px;
}
.login_form #login{
    background: url('../img/user_icn.png') no-repeat 10px center transparent;
    padding-left: 40px;
}
.login_form #password{
    background: url('../img/psw_icn.png') no-repeat 10px center transparent;
    padding-left: 40px;
}
.field_contaner input[type="text"]
,.field_contaner input[type="password"]
,.field_contaner textarea{
    width: 100%;
    box-shadow: 0 0 0 transparent;
    /* background: url('../img/dotted_bg.png') repeat 0 0 #fff; */
    background: #fff;
}
.field_contaner input.date{
    /* background: url('../img/date_bg.png') no-repeat right 0 #fff; */
    background:#fff;
}
.submit_area{
    padding-top: 9px;
    padding-bottom: 17px;
}

/* ======================= */


/* buttons styles */
.btns{
   border: 1px solid #d1d1d1;
   background-color: #fff; 
   padding: 0 8px;
   font-family: "robotoRegular";
   font-size: 15px;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btns + .btns{
    margin-left: 19px;
}

.btns.smallest_size{
   width: 33px;
   height: 34px;
}
.btns.size_one{
   min-width: 93px;
   height: 34px;
}
.btns.size_two_smaller{
   width: 121px;
   height: 40px;
}
.btns.size_two{
   min-width: 163px;
   height: 40px;
}
.btns.size_three{
   min-width: 182px;
   height: 40px;
}
.color_blue{
    background: #005da7;
    color:#fff;
}
.color_blue:hover{
    color: #fff;
    background-color:#023a66;
}
.color_orange{
    background: #ff9000;
    color:#fff;
}
.color_orange:hover{
    color: #ff9000;
    background-color:#fff;
}
.color_white{
    background: #fff;
    color:#023a66;
}
.color_white:hover{
    background-color: #023a66;
    color:#fff;
}
.color_gray{
    background: #cdd2d6;
    color:#023a66;
}
.color_gray:hover{
    background-color: #b5babe;
    color:#023a66;
}

/* ======================= */

/* Aside bar styles */
.left_menu {
	position: absolute;
    /* height: 100%; */
    width: 12%;
    left: 0;
}
.left_menu > ul > li{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    opacity: 0.50;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-position: 110% center;
}
.left_menu > ul > li.active
,.left_menu > ul > li:hover
,.left_menu .dropdown.open{
    background:#ff8800;
    opacity: 1;
}
.left_menu > ul > li.active a{
    /*font-family: "robotocondensed_Bold";*/
    font-size: 12px;
    font-weight: bolder;
}
.left_menu > ul > li > a{
    display: block;
    text-align: left;
    vertical-align: middle;
    /*font-family: "robotocondensed_Regular";*/
    font-family: "robotocondensed_Bold";
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.left_menu > ul > li > a > span{
    /*height: 100px;*/
    display: block;
    padding: 10px 4% 10px 4%;
    border-top: 1px solid #fcfcfc;
}

.left_menu > ul > li a img{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-bottom: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.left_menu > ul > li ul{
    /* background: url('../img/orange_marker.png') no-repeat center 0 #eb7002; */
    background: #eb7002;
    padding:10px 0 10px 5px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.left_menu > ul > li ul.opened{
    padding: 15px 5px;
    opacity: 1;
    height: auto;
}
.left_menu > ul > li ul li{
    text-align: left;
}
.left_menu > ul > li ul a{
    font-family: "robotocondensed_Regular";
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    /* background: url('../img/white_circle.png') no-repeat left center transparent; */
    background:  left center transparent;
    padding-left: 18px;
}

.left_menu > ul > li ul a:hover{
    background-color:transparent;
    text-decoration: underline; 
}

.left_menu .dropdown-menu{
    position: relative;
    float: none;
    min-width: initial;
    box-shadow: none;
    border-radius: 0;
    border: 0;
}

.dropdown.active .dropdown-menu{
	display:block;
}
/* ======================= */


/* container styles */
.wrapper{
    width: 100%;
    height: 100%;
}
.global_container{
    float: left;
    width: 98%;
    margin-top: 10px;
    margin-left: 20px; 
}
.fields_group{
    /*max-width: 225px;*/
    float: left;
    margin-right: 2%;
}
.fields_group .form-group > label{
    float: left;
    font-family: "robotocondensed_Regular";
    text-transform: uppercase;
    font-size: 14px;
    /* background: url('../img/field_shadow.png') repeat-x 0 0 #fff; */
    border: 1px solid #cecece;
    border-right: none;
    padding: 8px 23px 9px 15px;
    margin-bottom: 0;
    font-weight: normal;
    width:160px;
}

.fields_group .form-groupBis > label{
    float: left;
    font-family: "robotocondensed_Bold";
    text-transform: uppercase;
    font-size: 14px;
/*     background: url('../img/field_shadow.png') repeat-x 0 0 #fff; */
/*     border: 1px solid #cecece; */
  	color: #0066ad;
    border-right: none;
    padding: 8px 23px 9px 15px;
    margin-bottom: 0;
    font-weight: normal;
    width:139px;
}

.fields_group .form-group > label.medium_size{
    width:220px;
}   
.fields_group .form-group > label.big_size{
    width:300px;
}   
.fields_group .fields_control{
    float: left;
}
.fields_group .form-group{
    overflow: hidden;
    margin-bottom: 20px;
}
.fields_group .fields_control input
,.fields_group .fields_control textarea
,.fields_group .fields_control output
,.fields_group .check_type-container{
    border: 1px solid #cecece;
    height: 41px;
    border-radius: 0;
    width: 200px;
    font-family: "robotocondensed_Regular";
    font-size: 14px;
    float: left;
    /*background: url('../img/field_topshadow.png') repeat-x 0 0 #fdfdfd;*/
}
.form-control[readonly]{
    /*background: url('../img/field_topshadow.png') repeat-x 0 0 #fdfdfd; */
    background: #fdfdfd;
}
.select2-container .select2-choice{
    height: 41px;
    border-radius: 0;
    /*background: url('../img/field_topshadow.png') repeat-x 0 0 #fdfdfd;*/
    background:#fdfdfd;
    border: 1px solid #cecece;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select2-container .select2-choice .select2-arrow{
    border-left: 0;
    border-radius: 0;
    background-color:transparent;
    background-image: none; 
}
.select2-container .select2-choice .select2-arrow b{
    /* background: url('../img/grey_arrow.png') no-repeat center center transparent; */
}
.select2-dropdown-open .select2-choice .select2-arrow b{
    /* background: url('../img/grey_arrow-up.png') no-repeat center center transparent; */
}


.select2-container .select2-choice > .select2-chosen{
    margin-right: 18px;
    padding-top: 6px;
    font-family: "robotocondensed_Regular";
    font-size: 14px;  
}
span#select2-chosen-2{
    margin-right: 18px;
    padding-top: 6px;
    font-family: "robotocondensed_Regular";
    font-size: 14px;
}
.select2 {
    margin-top: 0;
    min-width: 200px;
    max-width: 200px;
}
.select2-drop{
	
}
.select2-results .select2-result-label{
	white-space: nowrap;
	font-size: 13px;
	padding: 0px 3px 0px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.fields_group .check_type-container{
    text-align: center;
    padding-top: 8.5px;
}
.fields_group .check_type-container input{
    display: none;
}
.checkbox_btn{
    display: inline-block;
    zoom:1;
    width: 22px;
    height: 22px;
    border: 1px solid #cecece;
    background: url("../img/checkbox_status.png") no-repeat -12px center #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.radiobtn_btn{
    display: inline-block;
    zoom:1;
    width: 22px;
    height: 22px;
    border: 1px solid #cecece;
    background: url("../img/radiobtn_status.png") no-repeat -12px center #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;

    -webkit-border-radius: 100%;
    -momoz-border-radius: 100%;
    border-radius: 100%;
}
input:checked + .checkbox_btn{
    background-position: 5px center;
}
input:checked + .radiobtn_btn{
    background-position: 6px center;
}
/* ======================= */
.panel{
    border: none;
    border-radius: 0;
    background: none;
    padding-bottom: 20px;
    margin-bottom: 10px;
    box-shadow: none;
}
.panel .panel-heading{
    background: none;
    color: #0066ad;
    font-family: "robotocondensed_Bold";
    font-size: 20px;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 8px;
    border: none;
    padding-left: 0;
}
.panel .panel-body{
    background: #fff;
    border: 1px solid #d7d7d7;
}
.dotted_bottom-border{
    border-bottom: 1px dotted black;
}
.tab-content{
    background: #fff;
    border: 1px solid #e1e1e1;
}
.nav-pills{
	display:table;
	vertical-align:bottom;
}
.nav-pills > li > a{
    border: 1px solid #d4d4d4;
    background: #e2e2e2;
    border-radius: 0;
    font-family: "robotocondensed_Regular";
    font-size: 14px;
    color: #898888;
    padding: 0px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position:relative;
}

.nav-pills > li > a div{
	position:relative;
	padding: 6px;
	}
    
.etat_icon{
    	position:absolute;
     	top:1px; 
     	right:1px; 
    }
.nav-pills > li.active > a{
    border-bottom: 0;
}
.nav-pills > li.active > a
, .nav-pills > li.active > a:hover
, .nav-pills > li > a:hover{
    background: #fff;
    color: #02538c;
}
.nav-pills > li {
    display:table-cell;
    width:105px;
}
.nav-pills > li + li{
    margin-left: 0;
}
/* menu styles */
.main_menu{
    width: 100%;
    height: 80px;
    /* background: url('../img/header_bg.png') repeat-x 0 0 #fdfdfd; */
    background: #fdfdfd;
    border-color: #e3e3e3;
    box-shadow: none;
}
.main_menu .navbar-collapse{
    /* background: url('../img/header_bg.png') repeat-x 0 0 #fdfdfd; */
    background: #fdfdfd;
    border-color: #e3e3e3;
}
.main_menu .navbar-brand{
    padding: 15px 40px;
    /* border-right: 1px solid #e3e3e3; */
}
.main_menu .navbar-brand img{
    max-width: 105px;
    max-height: 49px;
}
.logo_area{
    height: auto;
}
/* ======================= */
/* fields styles */
.field_control{
    height: 40px;
    padding-left: 15px;
    border: 1px solid #cecece;
    font-family: "robotoRegular";
    background: url('../img/field_shadows.png') repeat-x 0 0 #fafafa;
}
.field_control.meduim_size{
    width: 206px;
}
.field_control.left_space{
    margin-left: 20px;
}
#search_form{
    padding: 20px 30px;
    float: left;
}
#search_field{
    width: 455px;
    border: 1px solid #e3e3e3;
    text-transform: uppercase;
    padding-right: 40px;
    background: url('../img/search_icn.png') no-repeat right center #fdfdfd;
}
.autocomplet_drobdown{
    padding-left: 0;
}
.autocomplet_drobdown .select2-choice{
    height: 100%;
    background: #fff;
    border: none;
    border-radius: 0;
    padding-left: 15px;
    padding-top: 6px;
    background: url('../img/field_shadows.png') repeat-x 0 0 #fefefe;
}
.autocomplet_drobdown .select2-choice > .select2-chosen{
    text-transform: uppercase;
    font-family: "robotoRegular";
}
.autocomplet_drobdown .select2-choice .select2-arrow{
    background: url('../img/grey_arrow.png') no-repeat center center transparent;
    border-left: none;
    width: 25px; 
}

.action_area{
    float: right;
}
.action_btn{
    color: #fff;
    font-family: "robotocondensed_Bold";
    font-size: 16px;
    text-transform: uppercase;
    background: #337ab7;
    border:1px solid #2e6da4;
    padding: 10px 20px 9px;
    min-width: 135px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.action_btn:hover{
    background: #286090;
    border-color:#204d74;
}
.action_btn.btn-danger{
    background: #d9534f;
    border-color:#d43f3a;
}
.action_btn.btn-danger:hover{
    background: #c9302c;
    border-color:#ac2925;
}
.action_btn.btn-reset{
    background: #aaaaaa;
    border:1px solid #aaa;
}
.action_btn.btn-reset:hover{
    background: #949494;
    border-color:#aaa;
}
.action_btn.btn-warning{
    background: #f0ad4e;
    border-color:#eea236;
}
.action_btn.btn-warning:hover{
    background: #ec971f;
    border-color:#d58512;
}
.action_btn.btn-success{
    background: #5cb85c;
    border-color:#4cae4c;
}
.action_btn.btn-success:hover{
    background: #449d44;
    border-color:#398439;
}
.action_btn.btn-info{
    background: #5bc0de;
    border-color:#46b8da;
}
.action_btn.btn-info:hover{
    background: #31b0d5;
    border-color:#269abc;
}
.action_btn[disabled],
.action_btn.btn-info[disabled],
.action_btn.btn-danger[disabled],
.action_btn.btn-reset[disabled],
.action_btn.btn-warning[disabled]{
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}
.form_date{
    left: 0;
    float: left !important;
    width:199px;
}
.form_date input{
    height: 41px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.form_date .input-group-addon{
    border-left: 0;
    border-radius: 0;
    background: #fff;
    width: 32px;
    height: 41px;
    cursor: pointer;
}
.form_date .input-group-addon.date-calendar{
    background: url('../img/date-icon.png') no-repeat center center transparent;
}
.form_date .input-group-addon.date-remove{
    background: url('../img/date-remove.png') no-repeat center center transparent;
}
.form_date .input-group-addon span{
    display: none;
}
.fields_group.text_area{
    width: 100%;
}
.fields_group.text_area .fields_control{
    width: 80%;
}
.fields_group .fields_control .textarea_big{
    width: 100%;
    max-width: 900px;
}
/* ======================= */

/* alert_area styles */

/* Dashboard styles */

.site_progress{
    text-align: center;
    vertical-align: top;
    padding: 30px 0;
}
.site_progress li{
    width: 295px;
    border: 1px solid #c9c9c9;
    text-align: center;
    position: relative;
    display: inline-block;
    zoom:1;
    /* background: url('../img/list_progress/shadow_left.png') repeat-y 0 0 #fafafa; */
    padding-top: 43px;
    text-align: center;
    vertical-align: top;
    min-height: 328px;
    border-left: 1px solid #c9c9c9 !important;
}
.site_progress li + li{
    margin-left: 0;
    border-left:0;
}
.site_progress li:before{
    content:"";
    display: inline-block;
    zoom:1;
    width: 37px;
    height: 34px;
    left: 50%;
    margin-left: -18px;
    margin-top: -13px;
    top: 0;
    position: absolute;
    /* background: url('../img/list_progress/icon_valide.png') no-repeat 0 0 transparent; */
}
.site_progress li:after{
    content:"";
    display: inline-block;
    zoom:1;
    width: 20px;
    height: 34px;
    right: -20px;
    top: 36px;
    position: absolute;
    /* background: url('../img/list_progress/progress_arrow.png') no-repeat 0 0 transparent; */
    z-index: 20;
}
.site_progress li:last-child:after{
    display:none;
}
.site_progress li .percent_txt{
    font-family: "robotocondensed_Light";
    font-size: 30px;
}
.site_progress li .progress_txt{
    font-family: "robotocondensed_Bold";
    font-size: 18px;
    display: inline-block;
    zoom:1;
    height: 160px;
}
.site_progress li .title_txt{
    font-family: "robotocondensed_Bold";
    font-size: 14px;
    display: inline-block;
    zoom:1;
    text-transform: uppercase;
    line-height: 14px;
    margin-bottom: 12px;
    min-height: 28px;
    color : #02538c;
}

.site_progress li .sub_title_txt{
    font-family: "robotocondensed_Bold";
    font-size: 12px;
    display: inline-block;
    zoom:1;
    color : #0066FF;
}

.site_progress li .cas_icon{
    margin-bottom: 18px;
}
.site_progress li .sites_number{
    font-family: "robotocondensed_Bold";
    display: inline-block;
    zoom:1;
    text-transform: uppercase;
    line-height: 14px;
    border: 1px solid #c9c9c9;
    border-bottom:0;
    background: #f1f1f1;
    vertical-align: bottom;
    padding: 15px 0 9px;
    position: absolute;
    bottom: 0;
    left: 88px;
    width: 119px;
}
.site_progress li .sites_number span{
    font-family: "robotocondensed_Bold";
    font-size: 30px;
    color: #02538c;
}
.site_progress li.in_progress:before{
    /* background: url('../img/list_progress/in_progress.png') no-repeat 0 0 transparent; */
}
.site_progress li.blocked:before{
    /* background: url('../img/list_progress/blocked.png') no-repeat 0 0 transparent; */
}
.site_progress li.awaiting{
    background: #f3f3f3;
}
.site_progress li.awaiting{
    color: #b3b3b3;
}
.site_progress li.awaiting:before{
    /* background: url('../img/list_progress/awaiting.png') no-repeat 0 0 transparent; */
}

/* ======================= */
.alert{
    border: 1px solid  #e1e1e1;
    border-radius: 0;
    font-family: "robotocondensed_Bold";
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px;
    position: relative;
    padding-left: 50px;
    margin-bottom: 15px;
    line-height: 16px;
}
.alert p{
    font-family: "robotocondensed_Regular";
    font-size: 14px;
    color: #7a7a7a;
    text-transform: none;
}
.alert.alert-success{
    background: url('../img/alert-success.png') no-repeat 13px center #e9f3e4;
}
.alert.alert-success:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 5px;
    background: #438944;
    margin-top: 0;
}
.alert.alert-success:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 2px;
    background: #438944;
    margin-top: 0;
}


.alert.alert-info{
    background: url('../img/alert-info.png') no-repeat 13px center #e3eff5;
}
.alert.alert-info:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 5px;
    background: #128ead;
    margin-top: 0;
}
.alert.alert-info:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 2px;
    background: #128ead;
    margin-top: 0;
}

.alert.alert-warning{
    background: url('../img/alert-warning.png') no-repeat 13px center #f5f2e1;
    color: #eba000;
}
.alert.alert-warning:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 5px;
    background: #eba000;
    margin-top: 0;
}
.alert.alert-warning:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 2px;
    background: #eba000;
    margin-top: 0;
}


.alert.alert-danger{
    background: url('../img/alert-danger.png') no-repeat 13px center #f2e6e6;
    color: #ee430f;
}
.alert.alert-danger:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 5px;
    background: #ee430f;
    margin-top: 0;
}
.alert.alert-danger:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 2px;
    background: #ee430f;
    margin-top: 0;
}




.app_options{
    float: right;
    height: 100%;
}
.app_options > li{
    height: 100%;
    border-left: 1px solid #e3e3e3;
    float: left;
}
.app_options .alerts_area{
    width: 90px;
    background: url('../img/alert_icn.png') no-repeat center center #fdfdfd;
    position: relative;
}
.app_options .alerts_area .alert_notification{
    -webkit-border-radius: 100%;
    -momoz-border-radius: 100%;
    border-radius: 100%;
    background: #414243;
    color: #fff;
    font-family: "robotoRegular";
    font-size: 12px;
    padding: 0 7px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -14px;
    margin-left: 3px;
    text-decoration: none;
    display: inline-block;
    min-height: 18px;
    min-width: 18px;
}
.app_options .alerts_area .alert_notification.active{
    background:#b31408;
}
/*.app_options .option_area{
    width: 314px;
}
.option_area .profile_area{
    height: 100%;
}*/
.options_area{
    /* border-left: 1px solid #e3e3e3; */
}
.profile_area > a{
    display: inline-block;
    height: 100%;
    /*width: 100%;*/
    padding: 22px 20px 0 0;
    text-decoration: none;
    position: relative;
    z-index: 10;
}
/*.profile_area > a:after{
    content: "";
    display: block;
    width: 8px;
    height: 5px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -4px;
    background: url('../img/grey_arrow.png') no-repeat 0 0 transparent;
}*/
.profile_area > a img{
    padding: 2px;
    border: 1px solid #e3e3e3;
    vertical-align: middle;
    margin-right: 15px;
}
.profile_area > a > span{
    font-family: "robotocondensed_Bold";
    font-size: 14px;
    color: #4d4c51;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 16px;
}
.profile_area > a span span{
    font-family: "robotocondensed_Light";
    font-weight: 300;
}
.app_options .option_area ul{
    background: url('../img/header_bg.png') repeat 0 0 transparent;
    opacity: 0;
    visibility: hidden;
    position: relative;
    z-index: 9;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.app_options .option_area ul.opened{
    opacity: 1;
    visibility: visible;
}
.app_options .option_area ul li{
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
    margin-top: -30px;
    z-index: 8;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.app_options .option_area ul.opened li{
    margin-top: 0;
}
.app_options .option_area ul li a{
    font-family: "robotoRegular";
    font-size: 14px;
    color: #4d4c51;
    padding: 14px 20px 10px;
    text-decoration: none;
    display: block;
    height: 100%;    

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.app_options .option_area ul li a:hover{
    padding-left: 23px;
    background: #f2f2f2;
}
.app_options .logout_area{
    width: 63px;
}
.logout_area a{
    display: block;
    width: 100%;
    height: 79px;
    background: url('../img/logout_icn.png') no-repeat center center #fdfdfd;
    border-left: 1px solid #e3e3e3;
}
.dotted_trait{
    height: 1px;
    border-bottom: 1px dotted #000;
    margin: 20px 0;
}
/* ======================= */

.no-right_gutter{
    padding-right: 0;
}

/* main container styles */
.main_container{
   padding: 30px;
}
.white_block{
    padding: 19px;
    border: 1px solid #cecece;
   background: #fafafa;
}
.grey_table{
    border: 1px solid #dddddd;
    margin-bottom: 5px;
}
.grey_table thead{
    background: #f2f2f2;
    border-bottom: 1px solid #dddddd;
}
.grey_table thead th:last-child{
    border-right: none;
}
.grey_table tbody tr{
    border-bottom: 1px solid #ededed;
}
.grey_table tbody td{
    border-right: 1px solid #dddddd;
}
.grey_table tbody tr:last-child{
    border-bottom: none;
}
.grey_table tbody tr td:last-child{
    border-right: none;
}
.grey_table th
,.grey_table td{
    font-family: "robotocondensed_Regular"; 
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    vertical-align: middle !important;
}
.grey_table th{
    font-size: 15px;
    height: 48px;
    text-transform: uppercase;
    font-weight: 400;
    border-right: 1px solid #eaeaea;
    text-align: left;
    background: url('../img/grey_arrow.png') no-repeat 95% center transparent;
    cursor: pointer;
}
.with_sorting th{
    cursor: pointer;
    background: url('../img/grey_arrow.png') no-repeat 95% center transparent;
}
.with_sorting th.action{
    cursor: default;
    background: none;
}
.grey_table .action{
    /*width: 135px;*/
    text-align: center;
    max-width: 150px;
}
.grey_table td{
    font-size: 15px;
    height: 42px;
    padding-left: 20px;
    background: transparent !important;
}
.grey_table tbody tr:nth-child(even) {
    background: #f7f7f7;
}
.grey_table tbody tr:nth-child(odd) {
    background: #FFF;
}
.btn_file
,.btn_edit
,.btn_edit_bleu
,.btn_validate
,.btn_delete
,.btn_add
,.btn_alert{
    width: 19px;
    height: 17px;
    border: none;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.btn_file:hover
,.btn_edit:hover
,.btn_validate:hover
,.btn_delete:hover
,.btn_add:hover
,.btn_alert{
    text-decoration: none;
}
.btn_file{
    background: url('../img/file.png') no-repeat center center transparent;
}
.btn_edit{
    background: url('../img/edit_btn.png') no-repeat center center #ff8800;
}
.btn_edit_bleu{
    background: url('../img/edit_btn.png') no-repeat center center #337ab7;
}
.btn_validate{
    background: url('../img/checked_btn.png') no-repeat center center #36b57b;
}
.btn_delete{
    background: url('../img/delete_btn.png') no-repeat center center #dc2900;
}
.btn_add{
    background: url('../img/add_btn.png') no-repeat center center #138652;
}
.btn_alert{
    background: url('../img/alert-danger.png') no-repeat center center ;
}
/* .action a + a{ */
/*     margin-left: 10px; */
/* } */

/* .btn_icn{ */
/*    background: url('../img/add_icn.png') no-repeat center center #005da7; */
/*    width: 42px; */
/*    height: 40px; */
/*    border: 0; */
/*    vertical-align: middle; */
/* } */
.white_block label{
    font-family: "robotoRegular";
    font-size: 15px;
    font-weight: 700;
}
.white_block label i{
    font-weight: 300;
}
.file_uploader_txt{
    padding-top: 8px;
    display: inline-block;
}
.file_uploader_btn{
    display: block;
    width: 42px;
    height: 41px;
    float: right;
    overflow: hidden;
/*     background: url('../img/file_btn.png') no-repeat 0 0 transparent; */
	background: url('../img/download_icn.png') no-repeat center center #02538c;
}
.file_uploader_btn input {
    width: 42px;
    height: 41px;
    opacity: 0;
}


/* ======================= */
.target{
    position: relative;
}
.dropper {
  overflow: hidden;
}
.dropper,
.dropper *,
.dropper *:before,
.dropper *:after {
  box-sizing: border-box;
}
.dropper-dropzone {
    background: #fafafa;
    border-radius: 0;
    color: #666666;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 25px;
    text-align: center;
    height: 174px;
    font-family: "robotoRegular";
    font-size: 15px;
    font-weight: 700;
}
.drop_area{
    padding: 4px;
    background: url('../img/drag_zone.png') repeat 0 0 #fafafa;
    position: relative;
    cursor: pointer;
}
.dropper.dropping .dropper-dropzone,
.no-touch .dropper:hover .dropper-dropzone {
  background: #eeeeee;
  border-color: #999999;
  color: #333333;
}
.dropper-input {
  position: absolute;
  left: 100%;
  opacity: 0;
}
.no-opacity .dropper-input {
  left: -999px;
}
.upload-drop-zone{
    border: none;
    margin-bottom: 0;
    background: url('../img/file_icn.png') no-repeat center center #fff;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.upload-drop-zone:hover{
    background: url('../img/file_icn-hover.png') no-repeat center center #ececec;
}
.file_icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 71px;
    height: 71px;
    margin-top: -15px;
    margin-left: -35px;
    border: 0px solid transparent;
    background: url('../img/file_icn.png') no-repeat center center #3f9dd1;
    box-sizing:initial;


    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.drop_area:hover .file_icon{
    border: 10px solid #4bb6f1;
    margin-top: -25px;
    margin-left: -45px;
}
.drop_area-txt{
    margin-bottom: 24px;
    display: inline-block;
}

/* Modal styles */
.modal{

}
.modal-content{
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #cdcdcd;
}
.modal-header{
    position: relative;
    padding: 23px 5px 9px 25px;
    background: #fafafa;
    height: 71px;
    border-bottom: none;
}
.modal-header h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #343c48;
    font-family: "robotocondensed_Bold";
    line-height: 27px;
}
.modal-header .close{
   /*  background: url('../img/popin-close.png') no-repeat center center transparent; */
    display: inline-block;
    width: 47px;
    height: 71px;
    position: absolute;
    right: -1px;
    height: 100%;
    max-height: 74px;
    top: 1px;
    opacity: 1;
    margin-top: -1px;
    font-size: 0;
}
.modal-body
,.modal-body p{
    font-size: 16px;
    color: #343c48;
    font-family: "robotocondensed_light";
}
.modal-body h4{
    text-transform: uppercase;
    font-size: 18px;
    font-family: "robotocondensed_bold";
}
.modal-footer{
    margin-top: 0;
    border-top: none;
    text-align: center;
}
/*====================*/
.btn_with-icn{
    min-width: 147px;
    height: 40px;
    font-family: "robotocondensed_Regular";
    font-size: 14px;
    color: #434648;
    text-transform: uppercase;
    border: 1px solid #cecece;
    background: #fbfbfb;
    padding-left: 52px;
    text-align: left;
    position: relative;
}
.btn_with-icn:before{
    content:"";
    display: inline-block;
    zoom:1;
    width: 42px;
    height: 40px;
    background-color: #005da7;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -1px;
}
.btn_with-icn.add_btn:before{
    background-image: url('../img/add_icn.png');
}
.btn_with-icn.upload_btn:before{
    background-image: url('../img/upload_icn.png');
}
.btn_with-icn.download_btn:before{
    background-image: url('../img/download_icn.png');
}

.navbar-toggle{
    margin-top:20px;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #178acc;
}
.navbar-default .navbar-toggle:hover .icon-bar
, .navbar-default .navbar-toggle:focus .icon-bar{
    background: #ffffff;
}
/* Footer styles */
footer{
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
}
footer p{
    font-size: 14px;
    font-family: "robotoRegular";
    padding: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 768px) {
	body{
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
    .main_menu .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid #e3e3e3;
    }
    .options_area{
        width: 100%;
        padding-left: 0;
        background: #fff;
    }
    .profile_area{
        float: left;
    }
    .logout_area{
        width: 70px;
    }
    .left_menu{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        /* zakaria */
        position: relative;
        height: auto;
        background: #02538c;
    }
    .left_menu > ul > li{
        display: inline-block;
        zoom:1;
        width: auto;
    }
    .left_menu > ul > li > a > span{
        border-top: none;
    }
    .navbar{
        margin-bottom: 0;
        overflow: initial !important;
    }
    
    #contenu{
		margin-left: 0px !important;
	}

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.float_right{
    float: right;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.filename_text {
	float: right;
	font-family: "robotocondensed_Regular";
	text-transform: uppercase;
	font-size: 14px;
	/*background: url('../img/field_shadow.png') repeat-x 0 0 #fff;*/
	border: 1px solid #cecece;
	/*border-right: none;*/
	padding: 8px 23px 9px 15px;
	margin-bottom: 0;
	font-weight: normal;
	display:none;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}