/*****************************
 All rights reserved.
 AllFont.net (c) 2011-2015
 *****************************/
@font-face {
    font-family: 'robotocondensed_Bold';
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
        url(../fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
    font-family: 'robotocondensed_Light';
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
        url(../fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
    font-family: 'robotocondensed_Light';
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
        url(../fonts/RobotoCondensed-Regular.woff) format('woff');
}


