body{
    padding-left: -15px;
    padding-right: -15px;
}

#contenu{
    margin-left: 12%;
}

.row{
    margin-right:0;
    margin-left: 0;
}

.control-label{
    margin-top:10px;
}

.date-form{
    margin-right: 15px;
}

.form_date{
    right: 15px; width: 265px;
}

.ligne-form{
    margin-bottom: 15px;
}

.tab-content{
    padding-top:12px;
}
.nav.nav-pills li a:hover{
    cursor: pointer;
}

.select2{
    width:100%;
}

.form-signin {
    margin: 0 auto;
    max-width: 435px;
    padding: 15px;
}

/*body.loginpage {
    background: url("../img/brushed.png") repeat scroll 0% 0% transparent;
}*/

.block-flat {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0;
}

.block-flat .header {
    background: none repeat scroll 0 0 #2494F2;
    border-bottom: 1px solid #2082D5;
    padding: 9px 20px;
}
.block-flat .header h3 {
    color: #FFFFFF;
    line-height: 35px;
    margin: 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.block-flat .header h3 {
    font-family: "Raleway",Helvetica,sans-serif;
    font-weight: 200;
    margin-top: 3px;
}

.block-flat .content {
    padding: 30px 30px 5px;
}

.block-flat .foot {
    padding: 0 30px 15px;
    text-align: right;
}


.logo{
    width:140px;
    margin:auto;
    display:block;
    padding-bottom: 20px;
}

.select2-container-multi .select2-choices .select2-search-field input{
    padding:0 ;
}

.graphe {
    width: 100%;
    height: 200px;
    font-size: 14px;
    line-height: 1.2em;
}
.graphe-xl {
    width: 100%;
    height: 300px;
    font-size: 14px;
    line-height: 1.2em;
}
.graphev2 {
    width: 100%;
    height: 90px;
    font-size: 14px;
    line-height: 1.2em;
}
.badge-info{
    background:#428BCA;
}

.badge-danger{
    background:#D43F3A;
}

.breadcrumb.long{
    font-size: 13px;
}

.icon-danger{
    width:16px;
    margin-left:10px;
}

.btn-action{
    height:20px;
    padding:5px;
    
}
.btn-action button{
    position:relative;
    top:20px;
}
.btn-action.left{
    float:left;
    margin-left:10px;
}
.btn-action.right{
    float:right;
    margin-right:13px;
}

.select2{
    margin-top:5px;
}

.table thead tr > th {
    width:66px;
}

.table thead tr th a{
    color:#555555;
    text-decoration:none;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}
.table thead tr th a:hover{
    color:#555555;
    text-decoration:none;
    cursor: pointer;
}

.btn-xs.toggleLabel{
    margin-right: 5px;
}

.hoverable:hover{
    cursor: pointer;
}

.modal-dialog-large{
    width:880px !important;
}

.comparetable{
    overflow-x: auto;
}

.comparetable thead th{
    text-align: center;
}

.dynamic-table{
    width:141%;
}

.panel-dash{
    overflow: auto;
}

.modal-backdrop{
    z-index: auto;
}

.formFile{
    padding-top:6px;
}

.tag {
    background-color: #85C1E4 !important;
}
.style_img{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: auto;
    background-size: 100% 100% !important;
    border: 1px solid black;
    border-radius: 100%;
}
.caret-right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.panel-padding {
    padding: 13px 0 0px 0px;
}

.tabcontent {
    overflow: hidden;
}
/*  */
.panel-padding{
    padding: 20px 15px 20px 20px;
}
.tabcontent{
    overflow: hidden;
}
.site-padding{
    padding: 6px 0px 6px 0px;
}
.panel-iam{
    border: 1px solid dodgerblue;
    border-radius: 6px;
    padding-bottom: 0 !important;
    padding-top: 11px !important
}
.select2-container .select2-choice {
    height: 35px !important;
    border-radius: 3px;
}

.clickable{
    cursor: pointer;
}
.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px 0;
    font-size: 11px;
    line-height: 1.428571429;
    border-radius: 50%;
    background: transparent;
}
.btnMenu:hover{
    background: lightgrey;
}
.btnStat{
    cursor: default;
}
.statGray {
    background: gray;
}
.statRed {
    background: tomato;
}
.statGreen {
    background: limegreen;
}
.btnEdit {
    cursor: pointer; 
    color: #ff8000;
    margin-right: 5px;
}
.btnDelete {
    cursor: pointer; 
    color: tomato;
    margin-right: 5px;
}
.btnFile {
    cursor: pointer; 
    color: cornflowerblue;
}

.btnExport {
    cursor: pointer; 
    color: #0080c0;
    margin-right: 5px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


/*
    A utiliser pour donner le style rouge aux messages d'erreur sous les champs obligatoires
*/
.error-msg-style{
    font-size: 12px !important;
    color: red !important;
}

#loading-overlay {
    z-index: 90000 !important;
}

.btnEmail {
    cursor: pointer; 
    color: #0000ff;
    margin-right: 5px;
}
.btnMes {
    cursor: pointer; 
    color: #8c37f9;
    margin-right: 5px;
    font-size: 16px;
}

.btnCheck {
    cursor: pointer; 
    color: mediumseagreen;
    margin-right: 5px;
}