<style>
	.panel-rad {
		border: 1px solid dodgerblue;
		border-radius: 6px;
		padding-bottom: 6px !important;
		padding-top: 6px !important;
		margin-bottom: 10px;
		padding-left: 10px;
	}

	.panel-padding {
		padding: 20px 15px 20px 20px;
	}

	.tabcontent {
		overflow: hidden;
	}

	.site-padding {
		padding: 6px 0px 6px 0px;
	}

	.panel-iam {
		border: 1px solid dodgerblue;
		border-radius: 6px;
		padding-bottom: 0 !important;
		padding-top: 11px !important
	}

	.select2-container .select2-choice {
		height: 35px !important;
		border-radius: 3px;
	}

	.select2-drop {
		width: auto !important;
	}
</style>
<div class="col-md-10 global_container ng-scope">
	<div class="row ng-scope">
		<div class="panel panel-default">
			<div class="panel-heading" style="overflow: hidden; line-height: normal;">
				<b>REMISE CONTR&Ocirc;LE</b>
				<div class="pull-right">
					<button class="action_btn btn-primary" ng-click="addRemise()">
						Nouvelle Remise contr&ocirc;le<i class="glyphicon glyphicon-triangle-right"></i>
					</button>
				</div>                            
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<div class="panel panel-info panel-padding">
						<flash-messages id="global-FM"></flash-messages>
						<div class="row">
							<div class="form-group">
								<label class="control-label col-sm-2" for="modeSearch">&Eacute;TAT</label>
								<!-- Statut Edition -->
								<div class="col-sm-4">
									<select class="form-control" ng-model="remiseCri.codeEtat" id="modeSearch">
										<option ng-repeat="statut in listEtats"
											value="{{statut.code}}">{{statut.label}}
									</select>
								</div>
								<div class="pull-right">
									<button class="action_btn btn-success" ng-click="search()"><i class="glyphicon glyphicon-search"></i> Rechercher</button>
									<button class="action_btn btn-primary " ng-click="reset()">Vider</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<hr>

			<flash-messages id="result-FM"></flash-messages>
			<div class="panel-body panel-padding">
				<div class="panel-body">
					<div class="col-md-12">
						<div class="panel panel-info table-responsive">
							<table id="resultTable" class="table table-fixed table-hover">
								<thead>
									<tr>
										<th>Date Cr&eacute;ation</th>
										<th>Titre</th>
										<th>Commentaire</th>
										<th>Etat</th>			
										<th>P.J</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="remise in listRemiseDtos track by $index | orderBy : 'remise.etatRemiseLabel'">
										<td class="word-wrap">{{remise.dateCreation}}</td>
										<td class="word-wrap">{{remise.titre}}</td>
										<td class="word-wrap">{{remise.solution}}</td>										
										<td class="word-wrap">
											<span ng-if="remise.etatRemiseCode == 'INSTANCE' && remise.statutEditionIdt == 1"
												class="label label-default">
												Draft
											</span>
											<span ng-if="remise.etatRemiseCode == 'INSTANCE' && remise.statutEditionIdt == 2"
												class="label label-default">
												{{remise.etatRemiseLabel}}
											</span>
											<span ng-if="remise.etatRemiseCode == 'VALIDE'"
												class="label label-success">
												{{remise.etatRemiseLabel}}
											</span>
											<span ng-if="remise.etatRemiseCode == 'REFUSE'"
												class="label label-danger">
												{{remise.etatRemiseLabel}}
											</span>
										</td>
										<td class="word-wrap" style="vertical-align: middle;">
											<a title="pieces jointes"" ng-click="openPopUpPJ(remise.pjsRemise)" ng-if="remise.pjsRemise.length > 0"
												class="btnFile">
												<i class="glyphicon glyphicon-paperclip"></i>
											</a>
										</td>
										<td class="word-wrap" style="vertical-align: middle;">
											<a ng-click="validateRemiseDraft(remise.idt)" title="Valider" class="btnCheck"
												ng-if="remise.etatRemiseCode == 'INSTANCE' && remise.statutEditionIdt == 1">
												<i class="glyphicon glyphicon-ok"></i>
											</a>
											<a ng-click="gotoEdit(remise.idt)" title="Editer" class="btnEdit" 
												ng-if="remise.etatRemiseCode == 'INSTANCE' && remise.statutEditionIdt == 1">
												<i class="glyphicon glyphicon-pencil"></i>
											</a>
											<a ng-click="popUpVisualiser(remise)" title="Visualiser" class="btnExport">
												<i class="glyphicon glyphicon-eye-open"></i>
											</a>
											<a ng-click="exportReport(remise.idt, 'xls')" title="Exporter" class="btnExport">
												<i class="glyphicon glyphicon-export"></i>
											</a>
											<a ng-click="deleteRemise(remise.idt)" title="Supprimer" class="btnDelete" 
												ng-if="remise.etatRemiseCode == 'INSTANCE' && remise.statutEditionIdt == 1">
												<i class="glyphicon glyphicon-trash"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="container" style="text-align: center; width: 100%;">
							<nav aria-label="Page navigation">
								<ul class="pagination" id="pagination"></ul>
							</nav>
						</div>

						<p class="text-center" style="color: steelblue;">
							<label>Total: {{totalRecords}} R&eacute;sultat(s)</label>
						</p>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="modal fade movePopUp" id="openPopUpPJ">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Les Pi&egrave;ces Jointes</h4>
			</div>
			<div class="modal-body">
				<div class="row panel-rad" ng-if="listPjRt.length > 0">
					<label>REMISE CONTR&Ocirc;LE</label>
					<div ng-repeat="pjRt in listPjRt track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3" 
							style="margin-bottom: 4px;" ng-click="downloadFile(pjRt.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjRt.originFileName}}
						</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning pull-right" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i> Fermer
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade movePopUp" id="popupVisualisation">
	<div class="modal-dialog" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">D&eacute;tails</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
	                        <label>Titre </label>
	                        <div class="form-control" disabled>
	                        	{{remise.titre}}
	                        </div>
	                    </div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
	                        <label>Date Cr&eacute;ation</label>
	                        <div class="form-control" disabled>
	                        	{{remise.dateCreation}}
	                        </div>
	                    </div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
	                        <label>Pi&egrave;ces Jointes </label>
	                        <div class="form-control" disabled>
	                        	{{lengthPJ}} pi&egrave;ce(s) jointe(s)
	                        </div>
	                    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
	                        <label>Commentaire </label>
	                        <textarea class="form-control" ng-model="remise.solution" disabled></textarea>
	                    </div>
					</div>
				</div>
				<hr>
				<div class="row">
                    <div class="panel panel-info table-responsive">
                        <table class="table table-fixed table-hover">
                            <thead>
                                <tr>
                                    <th>DR</th>
                                    <th>Site</th>
                                    <th>Fournisseur</th>
                                    <th>Contrat</th>
                                    <th>N&ordm; Op&eacute;ration</th>
                                    <!-- <th>R&eacute;f. RT</th> -->
                                    <th>R&eacute;serves</th>
                                    <th>P.J</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mesDto in listMesPanier track by $index" >
                                    <td class="word-wrap">{{mesDto.dr}}</td>
                                    <td class="word-wrap">{{mesDto.site}}</td>
                                    <td class="word-wrap">{{mesDto.fournisseur}}</td>
                                    <td class="word-wrap">{{mesDto.contrat}}</td>
                                    <td class="word-wrap">{{mesDto.numOperation}}</td>
                                    <!-- <td class="word-wrap">
                                    	<span ng-repeat="rt in mesDto.listRt track by $index">
                                    		<span class='caret caret-right'> </span> {{rt.reference}}<br>
                                    	</span>
                                    </td> -->
                                    <td class="word-wrap">
                                    	<span ng-repeat="r in mesDto.reserves track by $index"> 
                                    		<span class='caret caret-right'> </span> {{r.label}}<br>
                                    	</span>
                                    </td>
                                    <td class="word-wrap" style="vertical-align: middle;">
                                       	<span ng-click="openPopUpPJMes(mesDto.pjExploitation, mesDto.pjOptim, mesDto.pjDcc, mesDto.pjRt, mesDto.pjPvr, mesDto.pjQos)"
											style="cursor: pointer; color: blue; font-size: 17px;">
											<i class="glyphicon glyphicon-paperclip"></i>
										</span>
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="action_btn btn-warning" ng-click="cancelConsultationRemise()">
						<i class="glyphicon glyphicon-remove"></i> Fermer
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade movePopUp" id="openPopUpPJMes">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Les Pi&egrave;ces Jointes</h4>
			</div>
			<div class="modal-body">
				<div class="row panel-rad">
					<label>EXPLOITATION</label>
					<div ng-repeat="pjOper in listPjExpl track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3" 
						  style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad">
					<label>OPTIM</label>
					<div ng-repeat="pjOper in listPjOptim track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
						  style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad">
					<label>QOS</label>
					<div ng-repeat="pjOper in listPjQos track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
						  style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad">
					<label>DCC</label>
					<div ng-repeat="pjOper in listPjDcc track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3" 
						  style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad" ng-if="listPjRt.length > 0">
					<label>RT</label>
					<div ng-repeat="pjRt in listPjRt track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3" 
						 	style="margin-bottom: 4px;" ng-click="downloadFile(pjRt.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjRt.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad" ng-if="listPjPvr.length > 0">
					<label>PVR</label>
					<div ng-repeat="pjPvr in listPjPvr track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3" 
						style="margin-bottom: 4px;" ng-click="downloadFile(pjPvr.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjPvr.originFileName}}
						</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning pull-right" ng-click="cancelPjMes()">
						<i class="glyphicon glyphicon-remove"></i> Fermer
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div confirmation-modal></div>
<div class="loading-spinner"></div>