<style>
	.panel-rad{
		border: 1px solid dodgerblue;
		border-radius: 6px;
		padding-bottom: 6px !important;
		padding-top: 6px !important;
		margin-bottom: 10px;
		padding-left: 10px;
	}
    .panel-padding {
        padding: 13px 0 0px 0px;
    }

    .tabcontent {
        overflow: hidden;
    }
    .active_iam{
    	background-color: #bfbdbd !important;
    }
</style>
<div class="col-md-10 global_container ng-scope">
    <div class="row ng-scope" xmlns="http://www.w3.org/1999/html">
        <form role="form" name="searchMesForm">
            <div class="panel panel-default tabcontent">
                <div class="panel-heading" style="overflow: hidden; line-height: normal;">
                    <b>AJOUT REMISE AU CONTR&Ocirc;LE</b>
                    <div class="pull-right">
                    	<button class="action_btn btn-primary" ng-click="listRemise()">
							<i class="glyphicon glyphicon-triangle-left"></i> Liste Remise contr&ocirc;le
						</button>
                    	<button class="action_btn btn-success" ng-click="createRemise()">
                            <i class="glyphicon glyphicon-list-alt"></i> Cr&eacute;er Remise contr&ocirc;le
                        </button>
                        <button class="action_btn btn-warning" style="min-width: 60px;" ng-click="consultPanier()">
                             {{nbrMesPanier}} <i class="glyphicon glyphicon-shopping-cart"></i>
                        </button>
                	</div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="panel panel-info panel-padding">
							<flash-messages id="global-FM"></flash-messages>
							<div class="row">
								<!-- Contrat -->
								<div class="col-md-4">
									<label>Contrat <red-star></red-star></label>
									<div class="form-group">
										<select class="form-control" ng-model="mesCriDto.idtContrat"
										ng-change="updateContrat(mesCriDto.idtContrat)">
											<option ng-repeat="contrat in listContrat" value="{{contrat.idt}}">
												{{contrat.label}}
										</select>
									</div>
								</div>
								<!-- DEBUT MES -->
								<div class="col-md-4">
									<div class="form-group">
										<label>Date D&eacute;but MES</label>
										<input type='text' class="form-control" id="dp-dateDebut"
											ng-model="mesCriDto.dateDebut" readonly/>
									</div>
								</div>
								<!-- FIN MES -->
                                <div class="col-md-4">
                                    <div class="form-group">
				                        <label>Date Fin MES</label>
				                        <input type='text' class="form-control" id="dp-dateFin"
				                            ng-model="mesCriDto.dateFin" readonly/>
				                    </div>
                                </div>
							</div>
                            <div class="row">
								<!-- DR -->
								<div class="col-md-4">
									<label>DR </label>
									<div class="form-group">
										<select class="form-control" ng-model="mesCriDto.idtDr"
											ng-change="changeDR(mesCriDto.idtDr)">
											<option ng-repeat="d in listDr" value="{{d.idt}}">{{d.label}}
										</select>
									</div>
								</div>
								<!-- Site -->
								<div class="col-md-4">
									<label>Sites </label>
									<input type='text' class="form-control" ng-model="mesCriDto.sites" />
									<p ng-show="error_sites" style="font-size: 12px;color: red;" class="help-block">
											La saisie des sites suivants est erron&eacute;e : {{errorSites}}.</p>
								</div>
								<!-- Projet -->
								<div class="col-md-4">
									<label>Projet</label>
									<div class="form-group">
										<select class="form-control"
											ng-model="mesCriDto.idtProjet">
											<option ng-repeat="projet in listProjet"
												value="{{projet.idt}}">{{projet.label}}
										</select>
									</div>
								</div>
                            </div>
						</div>
                        <div class="row">
                            <div style="text-align: right;">
                                <button class="action_btn btn-primary" ng-click="search()"><i class="glyphicon glyphicon-search"></i> Rechercher</button>
                                <button class="action_btn btn-warning " ng-click="reset()">Vider</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="panel panel-default tabcontent">
                <div class="panel-heading" style="overflow: hidden;">
                    <div class="row">
                        <b>Liste des MES</b>
                        <div class="pull-right">
                        	<button class="action_btn btn-primary"
                                ng-click="addPanier()">
                                <i class="glyphicon glyphicon-shopping-cart"></i> Ajouter au panier
                            </button>
                            <button class="action_btn btn-primary"
                                ng-click="mesDetailsPopup()">
                                <i class="glyphicon glyphicon-option-horizontal"></i> Plus de
                                Colonnes
                            </button>
                        </div>
                    </div>
                </div>

                <flash-messages id="resultListe-FM"></flash-messages>

                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="panel panel-info table-responsive">
                            <table id="resultTable" class="table table-fixed table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                        	<input class="checkSelectRow" ng-model="isAllChecked" id="selectAllBtn" ng-change="selectAllMES()" type="checkbox"
												data-content="S&eacute;lectionner tout" rel="popover" data-placement="right" data-trigger="hover" />
											<script type="text/javascript">
												$('#selectAllBtn').popover();
											</script>
										</th>
                                        <th ng-if="fournisseurShow">Fournisseur</th>
										<th ng-if="contratShow">Contrat</th>
                                        <th>DR</th>
										<th>Site</th>
										<th ng-if="projetShow">Projet</th>
                                        <th>Etat R&eacute;ception</th>
                                        <th>N&ordm; Op&eacute;ration</th>
										<!-- <th>R&eacute;f. RT</th> -->										
                                        <th>Date MES</th>
                                        <th>Statut R&eacute;serve</th>
                                        <th ng-if="pjShow">P.J</th>
                                        <th ng-if="cmdShow">Commande</th>
                                        <th>R&eacute;serves</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="clickable-row repeated-item" ng-repeat="mesDto in listMES track by $index" style="cursor: pointer;">
                                        <td class="word-wrap">
                                            <input class="checkSelectRow" ng-checked="selectedMesDto.indexOf(mesDto.idt) > -1" type="checkbox"/>
                                        </td>
                                        <td id="idtMes" ng-hide="true">{{mesDto.idt}}</td>
                                        <td class="word-wrap" ng-if="fournisseurShow">{{mesDto.fournisseur}}</td>
										<td class="word-wrap" ng-if="contratShow">{{mesDto.contrat}}</td>
                                        <td class="word-wrap">{{mesDto.dr}}</td>
										<td class="word-wrap">{{mesDto.site}}</td>
										<td class="word-wrap" ng-if="projetShow">{{mesDto.projetLabel}}</td>
                                        <td class="word-wrap">{{mesDto.etat}}</td>
                                        <td class="word-wrap">{{mesDto.numOperation}}</td>
                                        <!-- <td class="word-wrap">
                                        	<span ng-repeat="rt in mesDto.listRt track by $index">
												<span class='caret caret-right'> </span> {{rt.reference}}
												<span ng-if="rt.statutEditionIdt == 1" >
													( <a ng-click="gotoEdit(rt.idt)" title="Editer">Draft</a> )
												</span>
												<br>
                                        	</span>
										</td> -->										
                                        <td class="word-wrap">{{mesDto.dateMES}}</td>
                                        <td class="word-wrap" >{{mesDto.statut}}</td>
                                        <td class="word-wrap" ng-if="pjShow" style="vertical-align: middle;">
                                        	<span ng-click="openPopUpPJ(mesDto.pjExploitation, mesDto.pjOptim, mesDto.pjDcc, mesDto.pjRt, mesDto.pjPvr, mesDto.pjQos)" class="excludeFromRowClick"
												style="cursor: pointer; color: blue; font-size: 17px;">
												<i class="glyphicon glyphicon-paperclip"></i>
											</span>
										</td>
                                        <td class="word-wrap" ng-if="cmdShow">{{mesDto.commande}}</td>
                                        <td class="word-wrap">
                                        	<span ng-repeat="r in mesDto.reserves track by $index"> 
                                        		<span class='caret caret-right'> </span> {{r.label}}<br>
                                        	</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="container" style="text-align: center;">
							<nav aria-label="Page navigation">
								<ul class="pagination" id="pagination"></ul>
							</nav>
						</div>

						<p class="text-center" style="color: steelblue;">
							<label>Total: {{totalRecords}} R&eacute;sultat(s)</label>
						</p>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- POPUP CREATE REMISE -->
<div class="modal fade movePopUp" id="popupCreateRemise">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cr&eacute;ation d'une Remise au contr&ocirc;le</h4>
                <flash-messages id="popupCreateRT-FM"></flash-messages>
            </div>
            <div class="modal-body">
                <!-- LEFT FORM -->
        
                <div class="row">
                    <div class="form-group">
                        <label>Titre <span
                                style="font-size: 12px;color: red;">*</span></label>
                        <input class="form-control" ng-model="remise.titre" ng-change="onChangeTitre(remise.titre)">
                        <p ng-show="error_titre" style="font-size: 12px;color: red;" class="help-block">Titre obligatoire.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Commentaire <span style="font-size: 12px;color: red;">*</span></label>
                        <textarea class="form-control" ng-model="remise.solution" ng-change="onChangeSolution(remise.solution)"></textarea>
                        <p ng-show="error_solution" style="font-size: 12px;color: red;" class="help-block">Commentaire obligatoire.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Date Cr&eacute;ation <span style="font-size: 12px;color: red;">*</span></label>
                        <input type='text' class="form-control" id="dp-dateRemise" readonly
                            ng-model="remise.dateCreation" ng-change="onChangeDate(remise.dateCreation)"/>
                        <p ng-show="error_date" style="font-size: 12px;color: red;" class="help-block">Date Cr&eacute;ation obligatoire.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" id="listPjForm">
                        <label>Pi&egrave;ces jointes <red-star /></label>
                        <div class="row bloc_line">
                        	<label class="col-md-12">Solution par site</label>
                        	<div class="col-md-12">
                        		<div class="col-md-9 col-sm-9 col-xs-9">
		                        	<input type="file" class="form-control inputFile" id="fileAttach[0]" />
		                        </div>
		                        <div class="col-md-1 col-sm-1 col-xs-1">
									<i class="glyphicon glyphicon-remove-sign icon-clear-0"
										title="Supprimer le fichier"
										style="margin-top: 8px; color: red; cursor: pointer; margin-left: -22px;"
										ng-click="cleanFile(0)"></i>
								</div>
		                        <div class="col-md-2 col-sm-2 col-xs-2">
		                        	<button type="button" ng-click="appendHtmlInputFile()" class="btn btn-xs btn-info pull-right" style="margin-top: 5px;">
										<i class="glyphicon glyphicon-plus"></i>
									</button>
		                        </div>
                        	</div>
                        </div>
                        <div id="pjInputList">
	
						</div>
						
						<div class="row bloc_line1">
                        	<label class="col-md-12">Logs</label>
                        	<div class="col-md-12">
                        		<div class="col-md-9 col-sm-9 col-xs-9">
		                        	<input type="file" class="form-control inputFile1" id="fileAttach1[0]" />
		                        </div>
		                        <div class="col-md-1 col-sm-1 col-xs-1">
									<i class="glyphicon glyphicon-remove-sign icon-clear-log-0"
										title="Supprimer le fichier"
										style="margin-top: 8px; color: red; cursor: pointer; margin-left: -22px;"
										ng-click="cleanFile1(0)"></i>
								</div>
		                        <div class="col-md-2 col-sm-2 col-xs-2">
		                        	<button type="button" ng-click="appendHtmlInputFile1()" class="btn btn-xs btn-info pull-right" style="margin-top: 5px;">
										<i class="glyphicon glyphicon-plus"></i>
									</button>
		                        </div>
                        	</div>
                        </div>
                        <div id="pjInputList1">
	
						</div>
                        <p ng-show="error_files" style="font-size: 12px;color: red;" class="help-block">Pi&egrave;ces jointes obligatoires.</p>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="action_btn btn-primary" ng-click="consultationRemise()">
                        <i class="glyphicon glyphicon-floppy-disk"></i> CR&Eacute;ER
                    </button>
                    <button type="button" class="action_btn btn-warning" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i> Fermer
					</button>
                </div>

    
            <!-- END LEFT FORM -->
            </div>
        </div>
    </div>
</div>
<!-- Les Champs a afficher -->
<div class="modal fade movePopUp" id="popupMesDetails">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Les Champs &agrave; Afficher</h4>
				<flash-messages id="popupMesDetails-FM"></flash-messages>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4"
								ng-repeat="check in listCheckMes track by $index">
								<input type="checkbox" ng-model="checks[$index]"
									value="{{check.idt}}"
									ng-checked="resultChecks.indexOf(check.idt) > -1"
									ng-change="changeCheck(check, checks[$index])" />
								{{check.label}}
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						ng-click="addColums(checks)">
						<i class="glyphicon glyphicon-floppy-disk"></i> Valider
					</button>
					<button type="button" class="btn btn-warning" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i> Annuler
					</button>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade movePopUp" id="openPopUpPJ">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Les Pi&egrave;ces Jointes</h4>
			</div>
			<div class="modal-body">
				<div class="row panel-rad">
					<label>EXPLOITATION</label>
					<div ng-repeat="pjOper in listPjExpl track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3" 
						  style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad">
					<label>OPTIM</label>
					<div ng-repeat="pjOper in listPjOptim track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
						  style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad">
					<label>QOS</label>
					<div ng-repeat="pjOper in listPjQos track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3"
						  style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad">
					<label>DCC</label>
					<div ng-repeat="pjOper in listPjDcc track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3" 
						  style="margin-bottom: 4px;" ng-click="downloadFile(pjOper.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjOper.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad" ng-if="listPjRt.length > 0">
					<label>RT</label>
					<div ng-repeat="pjRt in listPjRt track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3" 
						 	style="margin-bottom: 4px;" ng-click="downloadFile(pjRt.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjRt.originFileName}}
						</button>
					</div>
				</div>
				<div class="row panel-rad" ng-if="listPjPvr.length > 0">
					<label>PVR</label>
					<div ng-repeat="pjPvr in listPjPvr track by $index">
						<button type="button" class="action_btn btn-primary col-md-6 col-md-offset-3" 
						style="margin-bottom: 4px;" ng-click="downloadFile(pjPvr.fileName)">
                            <i class="glyphicon glyphicon-download"></i> {{pjPvr.originFileName}}
						</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning pull-right" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i> Fermer
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade movePopUp" id="popupConsultationRemise">
	<div class="modal-dialog" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirmation Cr&eacute;ation Remise contr&Ocirc;le</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
	                        <label>Titre </label>
	                        <div class="form-control" disabled>
	                        	{{remise.titre}}
	                        </div>
	                    </div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
	                        <label>Date Cr&eacute;ation</label>
	                        <div class="form-control" disabled>
	                        	{{remise.dateCreation}}
	                        </div>
	                    </div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
	                        <label>Pi&egrave;ces Jointes </label>
	                        <div class="form-control" disabled>
	                        	{{lengthPJ}} pi&egrave;ce(s) jointe(s)
	                        </div>
	                    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
	                        <label>Commentaire </label>
	                        <textarea class="form-control" ng-model="remise.solution" disabled></textarea>
	                    </div>
					</div>
				</div>
				<hr>
				<div class="row">
                    <div class="panel panel-info table-responsive">
                        <table class="table table-fixed table-hover">
                            <thead>
                                <tr>
                                    <th>DR</th>
                                    <th>Site</th>
                                    <th>Fournisseur</th>
                                    <th>Contrat</th>
                                    <th>N&ordm; Op&eacute;ration</th>
                                    <!-- <th>R&eacute;f. RT</th> -->
                                    <th>R&eacute;serves</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mesDto in listMesPanier track by $index" >
                                    <td class="word-wrap">{{mesDto.dr}}</td>
                                    <td class="word-wrap">{{mesDto.site}}</td>
                                    <td class="word-wrap">{{mesDto.fournisseur}}</td>
                                    <td class="word-wrap">{{mesDto.contrat}}</td>
                                    <td class="word-wrap">{{mesDto.numOperation}}</td>
                                    <!-- <td class="word-wrap">
                                    	<span ng-repeat="rt in mesDto.listRt track by $index">
                                    		<span class='caret caret-right'> </span> {{rt.reference}}<br>
                                    	</span>
                                    </td> -->
                                    <td class="word-wrap">
                                    	<span ng-repeat="r in mesDto.reserves track by $index"> 
                                    		<span class='caret caret-right'> </span> {{r.label}}<br>
                                    	</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="action_btn btn-primary" ng-click="saveRemise()">
						<i class="glyphicon glyphicon-floppy-disk"></i> Valider
					</button>
					<button type="button" class="action_btn btn-warning" ng-click="cancelConsultationRemise()">
						<i class="glyphicon glyphicon-pencil"></i> Modifier
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Consultation Panier -->
<div class="modal fade movePopUp" id="popupConsultPanier">
	<div class="modal-dialog" style="width: 100%;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Liste des MES dans votre Panier</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12">
	                        <div class="panel panel-info table-responsive">
	                            <table class="table table-fixed table-hover">
	                                <thead>
	                                    <tr>
	                                        <th>DR</th>
	                                        <th>Site</th>
	                                        <th>Fournisseur</th>
	                                        <th>Contrat</th>
	                                        <th>Etat R&eacute;ception</th>
	                                        <th>N&ordm; Op&eacute;ration</th>
											<!-- <th>R&eacute;f. RT</th> -->
	                                        <th>Date MES</th>
	                                        <th>Statut R&eacute;serve</th>
	                                        <th>R&eacute;serves</th>
	                                        <th>Action</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr ng-repeat="mesDto in listMesPanier track by $index" >
	                                        <td class="word-wrap">{{mesDto.dr}}</td>
	                                        <td class="word-wrap">{{mesDto.site}}</td>
	                                        <td class="word-wrap">{{mesDto.fournisseur}}</td>
	                                        <td class="word-wrap">{{mesDto.contrat}}</td>
	                                        <td class="word-wrap">{{mesDto.etat}}</td>
	                                        <td class="word-wrap">{{mesDto.numOperation}}</td>
	                                        <!-- <td class="word-wrap">
	                                        	<span ng-repeat="rt in mesDto.listRt track by $index">
	                                        		<span class='caret caret-right'> </span> {{rt.reference}}<br>
	                                        	</span>
											</td> -->
	                                        <td class="word-wrap">{{mesDto.dateMES}}</td>
	                                        <td class="word-wrap">{{mesDto.statut}}</td>
	                                        <td class="word-wrap">
	                                        	<span ng-repeat="r in mesDto.reserves track by $index"> 
	                                        		<span class='caret caret-right'> </span> {{r.label}}<br>
	                                        	</span>
	                                        </td>
	                                        <td style="vertical-align: middle;">
	                                        	<button type="button" ng-click="removeLine($index)"
													class="btn btn-xs btn-danger">
													<i class="glyphicon glyphicon-remove-sign"></i>
												</button>
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="action_btn btn-primary"
						ng-click="validateRemove()">
						<i class="glyphicon glyphicon-floppy-disk"></i> Valider
					</button>
					<button type="button" class="action_btn btn-warning" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i> Fermer
					</button>

				</div>
			</div>
		</div>
	</div>
</div>

<div confirmation-modal></div>

<div class="loading-spinner"></div>