<!DOCTYPE html>

<html ng-app="loginModule">
        
	<head>
	    
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />  
		<meta http-equiv="Pragma" content="no-cache" />  
		<meta http-equiv="Expires" content="0" />
		
		<title>MT SDR</title>
		
		<!-- Bootstrap core CSS -->
		<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<link href="lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/robotto.css" rel="stylesheet">
		
		<link
			href="lib/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
			rel="stylesheet" media="screen">
		<!-- Custom styles for this template -->
		<link href="css/loadingSpinner.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
	</head>
    
	<body ng-controller="loginController"  class="loginpage">
		<div  class="login_page">
			<div class="login-container">
				<div class="logo_head">
		            <img src="img/logo_iamtext.png" alt="">
		        </div>
		        <div class="title_area">
		             <h1>
		                 connectez vous à votre compte<br>
		                 <span>Utilisez votre login et votre mot de passe pour vous connecter</span>
		             </h1>
		         </div>
		
		
		<div class="login_form">
			<form class="form-horizontal" style="margin-bottom: 0px !important;">
				<div class="content">
				<flash-messages id="global-FM"></flash-messages>
					<div class="field_contaner">
						<input type="text" class="control" id="login" placeholder="Nom d'utilisateur" maxlength="30" ng-model="username" autocomplete="off" autofocus />
					</div>
					<div class="field_contaner">
						<input type="password" class="control" id="password" placeholder="Mot de passe" maxlength="20" ng-model="pwd" autocomplete="off" />
					</div>
				</div>
				<p class="align_center submit_area">
					<button ng-click="connexion()" class="action_btn">Connexion</button>
				</p>
			</form>
		</div>
		
		</div>
		</div>
		<div class="loading-spinner"></div>
		<!-- Bootstrap core JavaScript
		       ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-cookies/angular-cookies.min.js"></script>
		<script src="lib/angular-route/angular-route.min.js"></script>
		<script src="js/common/services/loadingSpinner.js"></script>
		<script src="js/common/services/flashMessage.js"></script>
		<script src="js/common/services/ajaxModule.js"></script>
		
		<script src="js/modules/user/services/UserService.js"></script>
		<script src="js/modules/login/controllers/loginController.js"></script>
		<script src="js/modules/login/services/loginService.js"></script>
	
	</body>
</html>
